*.o
*.iso
*.elf
*.img

tools/
graph.sh
tags
mnt/

build-tools/*
!build-tools/build.sh
!build-tools/aquila/
!build-tools/patches/

ramdisk/sysroot
ramdisk/out

system/usr
system/nuklear/nuklear
system/nuklear/libnk.a
system/fbterm/fbterm
system/aqbox/aqbox
